.team {
  border-radius: 50%;
  /* height: 15vh;
  width: 200px; */
}
.caro-h3 {
  font-size: 20px !important;
  color: #db9a02;
  letter-spacing: 2px;
}
.caro-h2 {
  font-size: 35px !important;
  font-weight: 900;
}
.abt-hero {
  height: 80vh;
  background-image: url("../img/abtUs.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.champions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 5rem;
}
.hero-text {
  position: absolute;
  top: 0;
  left: 35%;
}

@media (max-width: 568px) {
  .champions {
    flex-direction: row;
    justify-content: center;
  }
}
