.team {
  border-radius: 50%;
  height: "20vh";
}
.caro-h3 {
  font-size: 14px;
  color: #db9a02;
  letter-spacing: 2px;
}
.caro-h2 {
  font-weight: 900;
}
.abt-hero {
  height: 80vh;
  background-image: url("../img/About\ us\ image\ blurred.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
