footer {
  background-image: url(../img/waves-bg.png);
  /* height: 35vh; */
}
.footer-content {
  padding: 20px;
  color: #fff;
}
.link-to {
  color: #fff;
}
.title {
  font-weight: 900;
  font-size: 20px;
}
.social {
  padding-right: 18px;
  font-size: 20px;
}
.social:hover {
  color: #db9a02;
}
p a:hover {
  text-decoration: none;
  color: #fff;
}
.foot {
  flex: auto;
  padding-left: 150px;
}
