#matchmania {
  background-image: url("../img/Digital Slideshow.00_00_02_10.Still045.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
#prog2 {
  background-image: url("../img/TIP-talent.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.caro-h3 {
  font-size: 14px;
  color: #db9a02;
  letter-spacing: 2px;
}
.caro-h2 {
  font-weight: 900;
}
.white_test {
  font-size: 30px;
  color: #eff4fd;
  font-family: font1;
}
.gold_test {
  color: #db9a02;
}
ul {
  padding: 0;
  padding-left: 20px;
}
.card-bdy {
  /* margin-top: 10px; */
}
.cu-ul li {
  margin-bottom: 3px;
}
.pdt-hero {
  height: 80vh;
  background-image: url("../img/Products\ page\ header\ blurred.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
